body {
    width: 100%;
    background-color: maroon;
    clear: both;
    margin: auto;
    font-family: 'Bitter', serif;
    color: white;
}

header {
    margin: auto 0;
    width: 100%;
    height: 50px;
    font-size: 24px;
    background-color: #939393;
    border-bottom: 5px solid black;
}

nav {
    margin: 0 auto;
    float: right;
    width: 300px;
    display: inline-block;
    padding-top: 10px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    color: black;
}

nav a:hover {
    color: blue;
}

.container {
    padding-left: 230px;
    width: 100%;
    margin: 20px auto;
    background-color: maroon;
    float: left;
}

.top {
    float: left;
    width: 600px;
    margin: 0 auto;
    /*  padding: 20px 40 px;
*/
    display: inline-block;
}

.bottom {
    float: left;
    width: 600px;
    /*height: 900px;*/
    margin: 0 auto;
    /*  padding: 20px 40 px;
*/
    display: inline-block;
}

.bookTitle {
    margin-right: 5px;
    width: 200px;
    height: 300px;
    display: inline-block;
}

.text {
    margin-top: 50px;
    width: 200px;
    height: 300px;
    display: inline-block;
}

h1 {
    margin: auto 0;
    display: inline-block;
}

h2 {
    text-align: left;
    font-size: 16px;
}

p {
    text-align: left;
    font-size: 12px;
}

img {
    border: 3px solid black display: inline;
    max-height: 200px;
}

.top {
    float: left;
    display: inline-block;
    margin: 0 auto;
}

.bottom {
    float: left;
    display: inline-block;
    margin: 0 auto;
}

.firstcolumn {
    display: inline-block;
    float: left;
}

.secondcolumn {
    display: inline-block;
    float: left;
}

.left {
    max-width: 350px;
    float: left;
    display: inline-block;
}

.right {
    max-width: 350px;
    float: left;
    display: inline-block;
}

.img {
    display: inline;
    max-width: 45px;
}

p {
    float: left;
}
.btn3{
display: block;
}


