body {

margin-top: 20px;
font-family: Helvetica;

}

header {
  font-size: 24px;
  height: 60px;
  background-color: #939393;
}

nav{
 margin: 0 auto;
 float: right;
 width: 300px;
 display: inline-block;
}
nav a{
 text-decoration: none;
 font-size: 20px;
 color: black;
}

/*nav{

padding: 10px;
  float: right;

  display: inline-block;
}

nav a{
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  margin: 20px;
  color: black;

}*/

nav a:hover{
  color: blue;
}

.container {
   padding: 70px;
   max-width: 900px;
   margin: 15px auto;
   text-align: center;
   background-color: #f4f0eb;
   padding:5px 20px 5px 20px;
 overflow: auto;
}

.column1 {
  display: inline-block;
  margin: 0 auto;
}

.column2 {
  display: inline-block;
  margin: 0 auto;
}

.l {
  display:inline-block;
  float: left;
}
.r{
  float: left;
}

.left-text{
  max-width: 100px;
  margin: 0 auto;
}
.right-text{
  max-width: 100px;
  margin: 0 auto;
}
/*article {
    height: 450px;
    text-align: center;
}



.left {
    margin-right: 47px;
    float: left;
    width: 200px;
    height: 400px;
    display: inline-block;
}

.right {
    margin-top: 10px;
    float: left;
    width: 200px;
    height: 400px;
    display: inline-block;
}

h1 {
  margin: auto 0;
  display: inline-block;
  font-size: 40px;
  color: black;
}

h2 {
    font-size: 16px;
    text-align: center;

}

p {
    font-size: 15px;
    margin-left: 37px;
}

h3 {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}
h2, h3, p{
  margin-bottom: 30px;
}

.clearfix:after {
  content: " ";
  clear: both;
  display: block;
}

.btn {
  background-color: lightgreen;
  padding: 10px 10px;
  margin: 20px;
}

select{
  background-color: white;
  height: 24px;
  width: 180px;
}

img{

  border: 1px solid black;

}

button{
  margin:10px;

}
*/

