body {
  width: 100%;
  background-color: maroon;
  clear: both;
  margin: auto;
  font-family: 'Bitter', serif;
  color: white;
}

header {
  margin: auto 0;
  width: 100%;
  height: 50px;
  font-size: 24px;
  background-color: #939393;
  border-bottom: 5px solid black;
}

nav{
   margin: 0 auto;
   float: right;
   width: 300px;
   display: inline-block;
   padding-top: 10px;
}

nav a{
 text-decoration: none;
 font-size: 20px;
 margin: 10px;
 color: black;
}

nav a:hover{
  color: blue;
}



.container {
    padding-left: 230px;
    width:100%;
    margin: 20px auto;
    background-color: maroon;
    float: left;
}


.top{
  float: left;
  width: 600px;
    margin: 0 auto;
/*  padding: 20px 40 px;
*/  display: inline-block;
}

.bottom{
  float: left;
 width: 600px;
/*height: 900px;*/
    margin: 0 auto;
/*  padding: 20px 40 px;
*/  display: inline-block;
}
.bookTitle {
  margin-right: 5px;

  width: 200px;
  height: 300px;
  display: inline-block;
}

.text{
  margin-top: 50px;

  width: 200px;
  height: 300px;
  display:inline-block;
}

h1{
  margin: auto 0;
  display: inline-block;
}

h2{
  text-align: left;
  font-size: 16px;
}

p{
  text-align: left;
  font-size: 12px;
}

img{
  border: 3px solid black
  display: inline;
  max-height: 200px;
}
top {
  float:left;
  display: inline-block;
  margin: 0 auto;
}

.bottom {
  float: left;
  display: inline-block;
  margin: 0 auto;
}

.firstcolumn {
  display:inline-block;
  float: left;
}
.secondcolumn{
  display: inline-block;
  float: left;
}

.left{
  max-width: 350px;
  float: left;
  display: inline-block;
}

.right{
  max-width: 350px;
  float: left;
  display: inline-block;
}

.img{
  display: inline;
  max-width: 45px;
}

p{
  float: left;
}*/
/*.left-image{
  display: inline-block;
}

.right-image{
  display: inline-block;
}*/

/*.left-text{
  max-width: 100px;
  margin: 0 auto;
}
.right-text{
  max-width: 100px;
  margin: 0 auto;
}*/
/*article {
    height: 450px;
    text-align: center;
}



.left {
    margin-right: 47px;
    float: left;
    width: 200px;
    height: 400px;
    display: inline-block;
}

.right {
    margin-top: 10px;
    float: left;
    width: 200px;
    height: 400px;
    display: inline-block;
}

h1 {
  margin: auto 0;
  display: inline-block;
  font-size: 40px;
  color: black;
}

h2 {
    font-size: 16px;
    text-align: center;

}

p {
    font-size: 15px;
    margin-left: 37px;
}

h3 {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}
h2, h3, p{
  margin-bottom: 30px;
}

.clearfix:after {
  content: " ";
  clear: both;
  display: block;
}

.btn {
  background-color: lightgreen;
  padding: 10px 10px;
  margin: 20px;
}

select{
  background-color: white;
  height: 24px;
  width: 180px;
}
img{

  border: 1px solid black;

}

button{
  margin:10px;

}
*/

