* {
  margin: 0;
  padding: 0;
  font-family: 'Gloria Hallelujah', cursive;
}

header {
  font-size: 24px;
  height: 80px;
  background-color: #e7646d;
  border-bottom: 1px solid black;
  color: #ffffff;
}

nav{
   margin: 0 auto;
   float: right;
   width: 300px;
   display: inline-block;
   padding-top: 10px;
   color: #ffffff;
}

nav a{
 text-decoration: none;
 font-size: 20px;
 margin: 10px;
 color: #ffffff;
}

nav a:hover{
  color:#114a3f;
}

footer {
 text-align: center;
  height: 40px;
  background-color: #939393;
  margin-bottom: 0;
}

body {
/*background-color: #DCDCDC;*/
  margin: 0 auto;
  width: 100;
  color: #e7646d;

}

legend {
  font-size: 30px;
  text-align: center;
}

#the-form {
  max-width: 600px;
  margin: 5px auto;
  text-align: center;
  background-color: #2c2f2f;
  padding:3px 20px 5px 20px;
  border: 3px solid #e7646d;
}

form{
  margin-top:20px;
}

fieldset {
  text-align: left;
}

input {
   margin-left: 20px;
}

.paypalimg img {
  width: 60px;
  /*margin-left: 20px;*/
}

#pay {
  line-height: 30px;
}
/*a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  margin-left: 10px;
}
a:hover {
  color:red ;
}*/
/*nav{
 margin: 0 auto;
 float: right;
 width: 300px;
 display: inline-block;
}
nav a{
 text-decoration: none;
 font-size: 20px;
 color: black;
}*/
h1 {
  margin-left: 20px;
}

button{
  padding: 5px;
  margin-top:20px;
  font-size: 24px;
  border: 1px solid black;
  border-radius: 5px;
}

.pop {
  margin-bottom: 20px;
}
.cart p{
  font-size: 20px;
  display: inline-block;
  padding: 10px;
}
.cart span{
  font-size: 20px;
  display: inline-block;
  float: right;
  padding: 10px;
}
